{{#each items as |item|}}
  <tr data-toggle="modal" data-target="#exampleModal2" id="{{ item.id }}" class='itemClick'>
    <!-- <th scope="row">{{ item.id }}</th> -->
    <td>{{ item.name }}</td>
    <td>{{ item.price }}</td>
    <td>{{ item.quantity }}</td>
  </tr>
{{/each}}
